{% extends 'base.html' %}
{% block content %}

<h2>Select a Resume Template</h2>

<div class="row">

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Template 1</h4>
            <a href="/template/template1" class="btn btn-primary">Use</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Template 2</h4>
            <a href="/template/template2" class="btn btn-success">Use</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Template 3</h4>
            <a href="/template/template3" class="btn btn-dark">Use</a>
        </div>
    </div>

</div>

{% endblock %}